WEB-INF/*
*~
.DS_Store
._*
Thumbs.db
.cache
.project
.rdsTempFiles
settings.xml
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
*_notes/
# Intellij IDEA files
*.iml
*.ipr
*.idea
run-tests.sh