@charset "utf-8";
/*
	Document:	mfw1.css
	Author: 	Steve Withington | www.stephenwithington.com
	Version: 	2011.01.28
*/
.mfw1wrapper {width:100% !important;margin-left:0 !important;margin-right:0 !important;padding:0 !important;text-align:left;clear:both;display:block;}
.mfw1wrapper .red { color:#FF3A00; font-weight:bold; }
.mfw1wrapper .green { color:#009900; font-weight:bold; }
.mfw1wrapper .formWrapper { clear:both; display:block; padding:1em 0; }
.mfw1wrapper h2.warning, .mfw1wrapper h3.warning, .mfw1wrapper h4.warning, .mfw1wrapper h2.error, .mfw1wrapper h3.error, .mfw1wrapper h4.error { color: red; }
.mfw1wrapper h2.success, .mfw1wrapper h3.success, .mfw1wrapper h4.success { color: green; }

.mfw1adminblock { display:block; clear:both; float:left; width:830px; padding:1em 0 0 0; margin:0; }
/* cfdump's get styled poorly by default in Mura, so we're going to fix that up just a touch. */
.mfw1adminblock table th { background:none; }
.mfw1adminblock table td { text-align:left; }
.mfw1adminblock textarea { font-family: Arial, Helvetica, sans-serif; font-size:1em; }
.mfw1adminblock .navwrapper { clear:both; display:block; padding:0 0 0.5em 0; margin:0 0 0.5em 0; border-bottom: 1px dotted grey; float:left; width:830px; }
.mfw1adminblock ul { padding:0 0 1em 1.5em; }
.mfw1adminblock ol { padding:0 0 1em 2em; }
.mfw1adminblock li { padding:0 0 0 0.5em; }
.mfw1adminblock .navwrapper ul { list-style-type:none; display:inline; clear:both; display:block; padding: 0 0 1em 0; }
.mfw1adminblock .navwrapper ul li { float:left; margin:0; padding:1em 0; }
.mfw1adminblock .navwrapper ul li a { padding:1em; margin:0; font-weight:bold; }
.mfw1adminblock .navwrapper ul li.active a, .mfw1adminblock .navwrapper ul li a:hover, .mfw1adminblock .navwrapper ul li a:focus {color:black; text-decoration:none;}

/* cfGrid - Mura default css wreaks havoc on cfGrid display in the admin area. */
.mfw1adminblock .gridwrapper { clear:both; display:block; }
.mfw1adminblock .gridwrapper table, .mfw1adminblock .gridwrapper form table { margin:0; padding:0; border:none; }
.mfw1adminblock .gridwrapper table th { margin:0; padding:0; }
.mfw1adminblock .gridwrapper table td { margin:0; padding:0; }
.mfw1adminblock .gridwrapper form table td { background:none; }
.mfw1adminblock .gridwrapper table a { color: #FF3A00; }

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */
.mfw1wrapper .clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.mfw1wrapper .clearfix:after {clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
.mfw1wrapper .clearfix {display:inline-block;}
/* start commented backslash hack \*/
.mfw1wrapper * html .clearfix {height:1%;}
.mfw1wrapper .clearfix {display:block;}
/* close commented backslash hack */